html, body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: #f2f2f2;
}

#box{
    width: 960px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: 0px 0px 10px 3px #e6e6e6;
}

header nav {
    background-color: #222;
    color: #a1a1a1;
    height: 46px;
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin-left: 18px;
    color: #fdfdfd;
}

nav h1 i {
    color: orange;
}

nav ul {
    list-style-type: none;
    margin-right: 18px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: center;
}

nav a {
    float: left;
    padding: 1rem;
    margin: 0 8px;
    color: #a1a1a1;
    text-decoration: none;
}

nav li {
    float: left;
}

.active {
    color: #fdfdfd;
    border-bottom: 4px solid orange;
}

nav a:hover{
    color: #fdfdfd;
    border-bottom: 4px solid orange;
}

main {
    background-color: #f1f1f1;
    height: 94vh;
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
}

main #text {
    width: 75%;
}

#gen-content{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#gen-content p {
    margin: 0;
    padding: 0;
}

#gen-content input {
    margin: 12px auto;
}

.error {
    text-align: center;
}

input:invalid+.error:after {
    content: 'Minimum required number of words is 6, maximum 128.';
    font-size: 0.9rem;
    color: red;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
  
input:valid+.error:after {
    display: none;
}

#gen-result{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 21px;
    background-color: #222;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 2vh;
    background-color: #222;
    color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 0.9rem;
}