@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fdfdfd;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
}

#content-box {
    width: 960px;
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

header {
    margin-top: 60px;
    height: 15vh;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: #333;
}

header h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
    height: 6vh;
    font-size: 1.1rem;
    flex-direction: row;
    color: #333;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

nav a {
    float: left;
    padding: 2rem 1rem;
    color: #7c7c7c;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a:hover {
    color: #333;
}

.nav-sep {
    float: left;
    padding: 2rem 1rem;
}

.active {
    color: #333;
}

main {
    text-align: center;
}

main #warning {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
}

main #gen-content, #gen-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

main #gen-content input {
    margin-left: 8px;
}

#error {
    display: none;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #3255c3;
    padding: 0;
    margin-top: 6px;
}

input[type='number'] {
    background-color: inherit;
    border: 1px solid #7c7c7c;
    text-align: center;
    width: 64px;
    border-radius: 4px;
    height: 24px;
}

select {
    background-color: inherit;
    border: 1px solid #7c7c7c;
    text-align: center;
    border-radius: 4px;
    line-height: 28px;
    height: 28px;
}

h4#gen {
    padding: 0;
    margin-top: 32px;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

#gen-result p {
    padding: 0;
    margin: 0;
    color: #3255c3;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
   
    min-height: 32px;
    
    padding: 12px;
}

.btn {
    color: #cfcfcf;
    background-color: #333;
    border: 1px solid #333;
    text-align: center;
    border-radius: 6px;
    height: 46px;
    width: 46px;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 2px 4px 2px 0px #b1b1b1;
}

.btn:hover {
    background-color: #333;
    color: #fdfdfd;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: 2px 0px 2px 0px #b1b1b1;
  }

dfn {
  position: relative;
  
}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; 
  left: -50%;
  opacity: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  font-style: normal;
  background: #333;
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  border-radius: 5px;
}
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: #333;
  transition: opacity 250ms, top 250ms;
  opacity: 0.8;
}
dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 210%;}
dfn:hover::before {top: 160%;}

footer {
    border-top: 1px solid #7c7c7c;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a:hover {
    border-bottom: 1px dashed #333;
}

#about-content {
    margin: 0 24px;
    display: grid;
    grid-template-columns: 68% 1fr;
    padding: 24px 12px;
}

#about-content h3 {
    font-size: 1.4rem;
    margin: 16px 0;
}

#about-content p {
    margin: 0;
    padding: 0;
}

#about-right{
    font-size: 1.2rem;
    padding: 0 3rem;
}

#about-right ul {
    margin: 0;
    padding: 0;
}

#about-right li {
    padding: 4px 0;
    list-style-type: circle;
}

#about-right a {
    color: #7c7c7c;
}

#about-right a:hover {
    color: #333;
}