html, body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #fdfdfd;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

h1{
    margin: 0;
    padding: 0;
}

#content-box{
    width: 960px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

header{
    margin-top: 60px;
    height: 15vh;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: #333;
}

header h2{
    font-size: 1.3rem;
    text-transform: uppercase;
}

nav{
    display: flex;
    justify-content: center;
    height: 6vh;
    font-size: 1.1rem;
    flex-direction: row;
    color: #333;
    align-items: center;
}

nav a{
    float: left;
    padding: 2rem 1rem;
    color: #7c7c7c;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a:hover{
    color: #333;
}

nav a:hover li{
    border-bottom: 1px dashed #333;
}

.nav-sep{
    float: left;
    padding: 2rem 1rem;
}

.active{
    color: #333333;
}

main #warning{
    text-transform: uppercase;
    text-align: center;
    background-color: #333;
    color: #dbdbdb;
}

main #warning a{
    border-bottom: 1px solid white;
    color: #dbdbdb;
}

main #warning a:hover{
    border-bottom: 1px dashed white;
}

main #warning strong{
    color: orangered;
}

main #gen-content, #gen-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main #gen-content input{
    margin-left: 8px;
}

#error {
    display: none;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    color: orangered;
    padding: 0;
    margin-top: 6px;
}

/*

#box{
    width: 960px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: 0px 0px 10px 3px #e6e6e6;
}

header nav {
    background-color: #222;
    color: #a1a1a1;
    height: 46px;
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin-left: 18px;
    color: #fdfdfd;
}

nav h1 i {
    color: orange;
}

nav ul {
    list-style-type: none;
    margin-right: 18px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: center;
}

nav a {
    float: left;
    padding: 1rem;
    margin: 0 8px;
    color: #a1a1a1;
    text-decoration: none;
}

nav li {
    float: left;
}

.active {
    color: #fdfdfd;
    border-bottom: 4px solid orange;
}

nav a:hover{
    color: #fdfdfd;
    border-bottom: 4px solid orange;
}

main {
    background-color: #f1f1f1;
    height: 94vh;
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
}

main #text {
    width: 75%;
}

#gen-content{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#gen-content p {
    margin: 0;
    padding: 0;
}

#gen-content input {
    margin: 12px auto;
}

.error {
    text-align: center;
}

input:invalid+.error:after {
    content: 'Minimum required number of words is 6, maximum 128.';
    font-size: 0.9rem;
    color: red;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
  
input:valid+.error:after {
    display: none;
}

#gen-result{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 21px;
    background-color: #222;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 2vh;
    background-color: #222;
    color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 0.9rem;
}

/* STYLING FOR ABOUT PAGE 
main#about-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    flex-direction: column;
}

#about-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 4rem; 
}


main#about-page h2{
    margin: 8px 0;
}

main#about-page p,h2,pre {
    padding: 0;
    margin: 0;
}

main#about-page pre {
    float: left;
    font-size: 10px;
    margin: 8px;
}

main#about-page strong {
    background-color: #111;
    color: orange;
}

#sources-content a {
    color: orange;
    background-color: #111;
}

#sources-content a:hover {
    color: white;
}

#sources-content {
    margin-bottom: 8px;
}*/